= form_with model: post do |f|
  = render 'shared/error_messages', { object: f.object }
  = f.label :title
  %br
  = f.text_field :title
  %br/
  = f.label :picture
  %br/
  - if post.picture.url.present?
    = image_tag post.picture.thumb.url
  = f.file_field :picture, accept: 'image/jpeg, image/png'
  = f.hidden_field :picture_cache
  %br
  = f.label :body
  %br/
  = f.text_area :body, placeholder: 'この温泉に関する感想を書いてね！'
  %br
  = f.label :prefecture
  %br/
  = f.collection_select :prefecture_id, Prefecture.all, :id, :name, { prompt: '選択してください', selected: post.prefecture_id }, { class: "form-control" }
  %br/

  = f.label :city
  #cities_select
    = render partial: 'cities', locals: { prefecture_id: post.prefecture_id }

  = f.submit yield(:button_text), { class: "btn btn-primary" }