.row.mb-5
  .col-md-6.mb-5
    .post-frame.shadow
      = image_tag @post.picture.url, class: "post-image"

  .col-md-6
    %h3.post-title.text-left.mb-5
      この温泉の思い出詳細

    %table.table.mb-3
      %tr
        %th タイトル
        %td= @post.title
      %tr
        %th 場所
        %td
          = @post.prefecture.name
          = @post.city.name
      %tr
        %th 詳細
        %td= @post.body
      %tr
        %th お気に入りされた数
        %td
          #likes_count
            = @post.likes.count

    .row
      .col-md-4
        #like_area
          = render partial: 'likes/like', locals: { post: @post }
      .col-md-8
        #edit_area
          - if current_user?(@post.user)
            = link_to "編集", edit_post_path(@post), locals: { post: @post }, class: "btn-circle-border-simple3"
            = link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除して良いですか？" }, class: "btn-circle-border-simple3"

%h5 コメントを入力（50文字以内）
- if user_signed_in?
  = render partial: 'comments/form', locals: { comment: @comment }

%h5.border-bottom.mb-3 コメント一覧
- if @post.comments.any?
  = render partial: 'comments/comments', collection: @comments, as: :comment
- else
  %p コメントはまだ来ていません...

%br/
= current_user.liked_posts.count
